$black: #000000;
$dark: #191A20;
$primary: #3F4150;
$secondary: #8C8D96;
$tertiary: #B2B3B9;
$border: #E0E2E7;
$background: #F7F8FA;
$footer: #ECECEC;
$gray: #f5f5f5;
$white: #FFFFFF;

$blue: #FF8243;
$blue-dark: #E26A2C;
$blue-light: #FFD07F;

// $blue: #3DA5F5;
// $blue-dark: #3186C4;
// $blue-light: #ECF6FE;

$red: #F86D7D;
$green: #22C58B;
