*:not(i) {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // font-smoothing
    -moz-osx-font-smoothing: grayscale; // font-smoothing
}

html:not(i) {
    font-family: $font-main;
}

body:not(i) {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    border: 0;
    background-color: transparent;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a,
button {
    cursor: pointer;
}


ul,
ol {
    padding-left: 0;
    list-style: none;
}
